In [116]:
import pandas as pd
import math as m

In [161]:

def CDS_spread(default_probability, recovery_rate, rate, duration):
#     default_probability: probability of default annually
#     recovery_rate: given the refrence feaulted now recover
#     rate: yield in the mkt or maybe bonds yield
#     duration: no. of years, tenor of contract
    
    DCF_no_default = 0
    DCF_given_default = 0
    DCF_payable_given_default = 0
    survival_probability = 1-default_probability
    discount_factor = 0;
    data = [{'default_prob': 0,
                    'survival_prob': 0,
                    'dis_f':0,
                    'dcf_no_def': 0,
                    'def_prob_mid': 0/2, 
                    'dis_f_mid': 0, 
                    'dcf_given_def': 0, 
                    'payable_given_def': 0,
                    'dis_f_mid': 0, 
                    'dcf_payable_def': 0}]
    
    df = pd.DataFrame(data)
    
#     df = pd.DataFrame(columns = ['default_prob','survival_prob','dis_f', 'dcf_no_def', 'def_prob_mid', 'dis_f_mid', 'dcf_given_def', 'payable_given_def', 'dis_f_mid', 'dcf_payable_def'])
        
    for i in range(duration):
#     for next year
        
        discount_factor = m.exp(-rate*(i+1))
        discount_factor_midyear = m.exp(-rate*(i+0.5))
        
        DCF_no_default+=survival_probability*discount_factor 
        DCF_given_default+=default_probability/2*discount_factor_midyear
        
        DCF_payable_given_default += default_probability*(1-recovery_rate)*discount_factor_midyear    
        
        new_row = {'default_prob': default_probability,
                    'survival_prob': survival_probability,
                    'dis_f': discount_factor,
                    'dcf_no_def': DCF_no_default,
                    'def_prob_mid': default_probability/2, 
                    'dis_f_mid': discount_factor_midyear, 
                    'dcf_given_def': DCF_given_default, 
                    'payable_given_def': default_probability*(1-recovery_rate),
                    'dis_f_mid': discount_factor_midyear, 
                    'dcf_payable_def': DCF_payable_given_default}

#         df = df.pd.concat(new_row, ignore_index=True)
#         df = pd.concat([df, new_row], ignore_index=True)
            
        default_probability*=survival_probability
        survival_probability*=survival_probability
    print(new_row)
        
    return DCF_payable_given_default/(DCF_no_default+DCF_given_default)
    
#     print(df)

In [162]:
print(CDS_spread(0.02, 0.25, 0.06, 6))

{'default_prob': 0.010691492659895758, 'survival_prob': 0.5238831403348921, 'dis_f': 0.697676326071031, 'dcf_no_def': 4.116091579208191, 'def_prob_mid': 0.005345746329947879, 'dis_f_mid': 0.7189237334319262, 'dcf_given_def': 0.04328005336696909, 'payable_given_def': 0.008018619494921818, 'dcf_payable_def': 0.06492008005045365}
0.01560814608197445

In [138]:
data = [{'a': 1, 'b': 2, 'c': 3},
        {'a': 10, 'b': 20, 'c': 30}]

df = pd.DataFrame(data)

In [139]:
df

    a   b   c
0   1   2   3
1  10  20  30

In [140]:
data.append({'a': 100, 'b': 5, 'c': 35})

In [141]:
df

    a   b   c
0   1   2   3
1  10  20  30